<!-- Added container for background
     less ambiguous than making body or html have the background image-->
<div id="auth-containter">
  <div class="overlay">
    <div class="login_form">
      <form class="login" action="/" method="post">
        <label>Log In</label> <br>
        <!-- Gives the ability to send back information to the user from controller -->
        <% flash.each do |message_type, message| %>
            <div class="alert alert-<%= message_type %>"><%= message %></div>
        <% end %>

        <input type="text" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password"><br>
        <button type="submit">Log In</button>
        <p class="signup">Don't have an account? <a href="">Sign Up</a></p>
      </form>
      </div>

    <div class="signup-cont"></div> <!-- AJAX Destination-->
  </div>
</div>

<!--JQUERY-->
<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
      //Hide AJAX destination at first
      $('.signup-cont').css({"opacity": "0", "display": "none"});

      //AJAX call for signup form
      $('p.signup a').on("click", function (a){
          a.preventDefault(); //prevent page reload on click of <a> tag
          $.ajax(
              {
                  url: '/signup',
                  cache: false,
                  success: function (html) {
                      $('.signup-cont').append(html).css({"display": "block"})
                          .animate({"opacity": "1"}, {duration: 350, queue: false});

                      $("input[name='confirmPass']").on('keyup', function() {
                          if($("input[name='confirmPass']").val() == $("input[name='su_password']").val())
                              $('.match').html('Matching').css({"color": "green"});
                          else
                              $('.match').html('Not Matching').css({"color": "red"});
                      });
                  }
              }
        )
      })
  });

  //after ajax call, add a click event listener on the 'X'
  $(document).ajaxComplete(function () {
      $('p.exit').on("click", function () {
          //hide the container to show login form
          $('.signup-cont').animate({"opacity": "0"}, {duration: 350, complete: function() {
              $('.signup-cont').css({"display": "none", "z-index": "-100"});
          }});
          //remove previous event listener on the ajax call, add a new one to just show the container
          $('p.signup a').off("click").on("click", function (a) {
              a.preventDefault();  //prevent ajax call from happening again
              $('.signup-cont').css({"z-index": "100", "display": "block"});
              $('.signup-cont').animate({"opacity": "1"}, {duration: 350});
          })
      });
  });
</script>