<div class="login_form">
<form class="login" action="index.html.erb" method="post">
  <label>Log In</label> <br>
  <input type="text" name="email" placeholder="Email">
  <input type="password" name="password" placeholder="Password"><br>
  <button type="submit" name="login">Log In</button>
  <p class="signup">Don't have an account? <a href="#">Sign Up</a></p>
</form>
</div>
