<div class="login_form">
  <!--<% if session.exists? && !session[:login] %>
      <h4 class="log-error">Invalid Email or Passowrd, please try again</h4>
  <% end %>-->
<form class="login" action="/" method="post">
  <label>Log In</label> <br>
  <input type="text" name="email" placeholder="Email">
  <input type="password" name="password" placeholder="Password"><br>
  <button type="submit" name="login">Log In</button>
  <p class="signup">Don't have an account? <a href="#">Sign Up</a></p>
</form>
</div>
