<!-- Google 'GOogle Icons' or "Font Awesome" use that instead of images -->
<!-- TR: All styles moved to /app/assets/index.scss for easier management -->

<!-- TR: The structure here looks great, we just need to work on generating this procedurally
          ie. with a .each loop. I'll add the structure I had before at the top here
          for reference -->
<!--<ul>
    <% if @courses.empty? %>
      <h1>No data</h1>
    <% else %>
    <%= @courses.each do |course|  %>
       <li>
         <h1><%= course.name %></h1>
         <div>
           <% if course.books.empty? %>
               <h1>True</h1>
             <%= course.books.each do |book| %>
               <h3><%= book.name %></h3>
             <% end %>
           <% else %>
               <h3>No book</h3>
           <% end %>
         </div>
       </li>
     <% end %>
   <% end %>
 </ul>-->

<h2>Hello Professor</h2>
<p>Please Select a Class to modify the books required</p>
<div id = "container" >
<button class="dropdown">Class One</button>
<div class="panel">
  <!-- Note this form should pop up in the middle of the screen like the Sign up page im leaving it here for now -->
    <form class="Book_order" action="/" method="post">
      <label>Book Form</label> <br>
      <input type="text" name="BookName" placeholder="BookName">
      <input type="text" name="ISBN" placeholder="ISBN"><br>
      <input type="text" name="Author" placeholder="Author"><br>
      <input type="text" name="Edition" placeholder="Edition"><br>
      <button type="submit">Submit</button>
    </form>
</div>
</div>
<div id = "container" >
<button class="dropdown">Class Two</button>
<div class="panel">
  <form class="Book_order" action="/" method="post">
    <label>Book Form</label> <br>
    <input type="text" name="BookName" placeholder="BookName">
    <input type="text" name="ISBN" placeholder="ISBN"><br>
    <input type="text" name="Author" placeholder="Author"><br>
    <input type="text" name="Edition" placeholder="Edition"><br>
    <button type="submit">Submit</button>
  </form>

</div>
</div>

  <div id = "container" >
<button class="dropdown">Class Three</button>
<div class="panel">
  <form class="Book_order" action="/" method="post">
    <label>Book Form</label> <br>
    <input type="text" name="BookName" placeholder="BookName">
    <input type="text" name="ISBN" placeholder="ISBN"><br>
    <input type="text" name="Author" placeholder="Author"><br>
    <input type="text" name="Edition" placeholder="Edition"><br>
    <button type="submit">Submit</button>
  </form>

</div>
  </div>

<script>
    var acc = document.getElementsByClassName("dropdown");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].onclick = function() {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight){
                panel.style.maxHeight = null;
            } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
            }
        }
    }
</script>
