<div class="overlay signup-overlay">
  <div class="signup-form">
    <h1 class="signup-header">Sign Up</h1>
    <p class="exit">X</p>

    <form action="/teachers/create" method="post">
      <fieldset>
        <legend>Personal Information:</legend>
        <input type="text" name="fName" placeholder="First Name" autocomplete="off"> <br/>
        <input type="text" name="lName" placeholder="Last Name" autocomplete="off"> <br/>

        <input type="password" name="password" placeholder="Password" autocomplete="off"> <br/>
        <input type="password" name="confirmPass" placeholder="Confirm Password" autocomplete="off"> <br/>
      </fieldset>

      <fieldset>
        <legend>School Information:</legend>
        <input type="text" name="email" placeholder="School Email" autocomplete="off"> <br/>
        <input type="text" name="department" placeholder="School Department ie. CSIT" autocomplete="off"> <br/>

        <label for="admin">Are you a department head?</label> <br/>
        <input type="radio" name="admin" value="true"> Yes
        <input type="radio"> No <br/>
      </fieldset>

      <button type="submit" name="login">Log In</button>
    </form>
  </div>
</div>