<div class="overlay signup-overlay">
  <div class="signup-form">
    <h1 class="signup-header">Sign Up</h1>
    <p class="exit">X</p>

    <form name="create" action="/teachers" method="post">
      <p class="note">*Note: All fields are required</p>
      <fieldset>
        <legend>Personal Information:</legend>
        <input type="text" name="fName" placeholder="First Name" autocomplete="off"> <br/>
        <input type="text" name="lName" placeholder="Last Name" autocomplete="off"> <br/>

        <input type="password" name="su_password" placeholder="Password" autocomplete="off"> <br/>
        <input type="password" name="confirmPass" placeholder="Confirm Password" autocomplete="off">
        <span class="match"></span> <br/>
      </fieldset>

      <fieldset>
        <legend>School Information:</legend>
        <input type="text" name="email" placeholder="School Email" autocomplete="off"> <br/>
        <input type="text" name="department" placeholder="School Department ie. CSIT" autocomplete="off"> <br/>

        <label for="admin">Are you a department head?</label> <br/>
        <input type="radio" name="admin" value="true"> Yes
        <input type="radio" name="admin" value="false"> No <br/>
      </fieldset>

      <button type="submit">Create Account</button>
    </form>
  </div>
</div>