<div class="left-nav">

</div>

<div class="content">
  <div class="profile-info">
    <h1>Your Profile:</h1>
    <hr/>
    <a href="<%= @teacher.id %>/edit"><i class="fa fa-2x fa-pencil"></i></a>

    <ul>
      <li>
        <h3>Name:</h3> <p><%= @teacher.name %></p>
      </li>
      <li>
        <h3>Email:</h3> <p><%= @teacher.email %></p>
      </li>
      <li>
        <h3>Department:</h3> <p><%= @teacher.department.upcase %></p>
      </li>
    </ul>
  </div>
</div>
