<div class="left-nav">

</div>

<div class="content">
  <h1>Your Profile:</h1>
  <hr/>
  <ul class="profile-info">
    <li>
      <h3>Name:</h3> <p><%= @teacher.name %></p>
    </li>
    <li>
      <h3>Email:</h3> <p><%= @teacher.email %></p>
    </li>
    <li>
      <h3>Department:</h3> <p><%= @teacher.department %></p>
    </li>
    <li>
      <h3></h3> <p><%= @teacher.name %></p>
    </li>
  </ul>
</div>