//Import partials used
@import "partials/mixins";
@import "partials/signup";

#auth-containter {
  display: block;
  width: 100vw;
  height: 100vh;
  background: image_url("books.jpg") center no-repeat;

  .login_form {
    position: absolute;
    margin: 0;
    width: 30%;
    left: 35%;
    right: 35%;
    border: 1px solid black;
    height: auto;
    top: 25%;
    padding: 5px;
    border-radius: 5%;

    background-color: white;

    .login {
      display: block;
      height: auto;
      width: 100%;
      text-align: center;
      top: 10%;

      label {
        display: block;
        font-size: 3em;
        margin-bottom: 5px;
      }

      input {
        width: 75%;
        margin-bottom: 10px;
        padding: 3px;
      }

      button {
        position: relative;
        //left: 38%;
        //right: 38%;
        width: 24%;
        margin-top: 15px;
        margin-bottom: 9px;
        padding: 5px;
        border: 1px solid black;
        border-radius: 2px;
      }

      .signup {
        position: relative;
        bottom: 5px;
        width: 100%;
        text-align: center;

        a {
          font-style: italic;
          font-size: 0.9vw;
          color: lighten(goldenrod, 0.20);
          padding-left: 4px;
        }
      }
    }
  }
}