html, body {
  margin: 0;
}

.login_form {
  position: absolute;
  margin: 0;
  width: 30%;
  left: 35%;
  right: 35%;
  border: 1px solid black;
  height: 210px;
  top: 25%;
  padding: 5px;
  border-radius: 5%;
}

.login {
  text-align: center;
  top: 10%;
}

label {
  display: block;
  font-size: 3em;
  margin-bottom: 5px;
}

input {
  width: 75%;
  margin-bottom: 10px;
  padding: 3px;
}

button {
  position: absolute;
  left: 38%;
  right: 38%;
  width: 24%;
  margin-top: 15px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 2px;
}

.signup {
  position: absolute;
  bottom: 5px;
  width: 100%;
  text-align: center;

}
