@import "partials/index-layout";

//ST:Need this so that way the dropdown menu is centered
//ST:removed width 80% to git it a fuller look
div#container {
  text-align: center;
  max-height: 20vh;
  margin: 2rem auto;
}
div#form_Info {
  text-align: center;
  max-height: 20vh;
  margin: 2rem auto;
}
div#search {
  margin-right: 80%;
  margin-top: 1%;
  //MAKE SURE TO DO RailsDb:Migrate
}
input#searchBar {
  border: 1px solid #000000;
  border-right:none;
  font-size: 16px;
  padding:10px;
  outline:none;
  width:250px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

input#searchBtn{
  border: 1px solid #000000;
  font-size: 16px;
  padding:10px;
  background:#D3D3D3;
  font-weight: bold;
  cursor: pointer;
  outline:none;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;




}
input#searchBtn:hover{
  background: #f63049;
}

button.dropdown {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  width: 80%;
  height: .1%;
  min-height: 7.5vh;
  padding: 18px;
  margin-top: .5%;
  transition: 0.4s;

  .course-name {
    display: inline-block;
    position: relative;
    left: -1rem;
    width: 75%;

    font-size: 25px;
  }

  .course-num {
    display: inline-block;
    float: left;
    clear: none;
    width: 6.75%;
    margin-top: 0.1rem;
    margin-left: 1rem;

    font-size: 25px;
  }

  .fa-check, .course-submitted {
    padding-left: 8px;
    color: green;
  }

  .course-submitted {
    display: inline;
  }
  
  .hidden {
    display: none;
  }
}

.dropdown.active {
  background-color: #ddd;
}

//affects the +/- sign
.dropdown:after {
  content: '▼';
  color: #777;
  font-weight: bold;
  float: right;
  text-align: center;
  font-size: 25px;
}

.dropdown.active:after {
  content: "▲";
  font-size: 25px;
}

div.panel {
  background-color: white;
  max-height: 0;
  overflow: hidden;
  text-align: center;
  width: 80%;
  display: inline-block;
  transition: max-height 0.2s ease-out;
}

// NEEDS FIXING
.course-overlay {
  display: block;
  height: 80%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 5;
}

/*TABLE STYLES*/
table {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-collapse: collapse;

  .title {font-size: 1.8em;}

  th, td {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  thead {
    th {font-weight: bold !important;}
  }

  tr th {font-weight: normal;}
  .media-title-row th {font-weight: bold !important;}

  .m-drop {
    display: inline;
    z-index: 100;
  }

  .m-down {
    display: block;
    position: relative;
    bottom: 3.6rem;
    right: 3rem;
    font-size: 1.5em;
  }

  //.m-down:after {
  //  content: '▼';
  //  color: #777;
  //  font-weight: bold;
  //  float: right;
  //  text-align: center;
  //}

  .m-down.active:after {
    content: "▲";
  }

  .action {
    display: block;
    width: 25%;
    height: auto;
    margin: 2% auto;

    i {
      display: inline-block;
      width: 15%;
      padding-right: 0.5rem;

      color: red;
      &.edit{color: orange;}
    }

    p {
      display: inline-block;
      width: 25%;
      text-align: left;
    }
  }

  tr:nth-child(even) {
    background-color: #f2f2f2
  }
}

#add-book {
  width: 10%;
  margin-left: 45%;
  margin-right: 45%;
}

#add-book-btn {
  display: inline-block;
  float: left;
  width: 10%;
  border: 2px solid black;
  border-radius: 3px;
  margin: {
    left: 20%;
    bottom: 10px;
  }
  padding-top: 5px;
  padding-bottom: 5px;
  // More concise syntax
  @include box-shadow(7px 7px 16px -8p, rgba(0,0,0,0.75));
  cursor: pointer;

  span {
    display: inline-block;
    width: 15%;
    height: 100%;

    &.plus {

    }
    //&.check {
    //  background-color: darkgreen;
    //}

    i {
      font-size: 1vw !important;
      //&.fa-check { color: white; }
      //&.fa-plus { }
    }
  }

  .btn-text {
    display: inline-block;
    width: 75%;
    font-size: 1.2em;
    position: relative;
    bottom: 1px;
  }
}


// Make the submit button float on the right
.submit-course {
  float: right !important;
  clear: none;
  margin: {
    left: 0 !important;
    right: 20%;
  }
}