@import "partials/index-layout";

//ST:Need this so that way the dropdown menu is centered
//ST:removed width 80% to git it a fuller look
div#container {
  margin-left: auto;
  margin-right:auto;
  text-align: center;
}

  button.dropdown {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    width: 80%;
    height: .1%;
    padding: 18px;
    margin-top: .5%;
    font-size: 25px;
    transition: 0.4s;
  }

  button.dropdown.active {
    background-color: #ddd;
  }

  //affects the +/- sign
  button.dropdown:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    text-align: center;
  }

  button.dropdown.active:after {
    content: "\2212";

  }

  div.panel {
    background-color: white;
    max-height: 0;
    overflow: hidden;
    text-align: center;
    width: 80%;
    display: inline-block;
  transition: max-height 0.2s ease-out;
}

table {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-collapse: collapse;
}

.title {
  font-size: 1.8em;
}

th, td {
    padding-top: 10px;
    padding-bottom: 10px;
}

tr:nth-child(even) {
  background-color: #f2f2f2
}

#add-book {
  width: 10%;
  margin-left: 45%;
  margin-right: 45%;
}

#add-book-btn {
  width: 10%;
  border: 2px solid black;
  border-radius: 3px;
  margin-left: 45%;
  margin-right: 45%;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  -webkit-box-shadow: 7px 7px 16px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: 7px 7px 16px -8px rgba(0,0,0,0.75);
  box-shadow: 7px 7px 16px -8px rgba(0,0,0,0.75);
}

.switch-btn {
  display: inline-block;
  position: absolute;
  top: 80px;
  right: 1rem;
  height: 25px;
  width: auto;
  padding: 4px 16px;
  @include border-radius(15px);
  background-color: orangered;
}
