// Place all the styles related to the Teachers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/**
  SHOW.HTML.ERB STYLES
 */

 .content-right {
   display: inline-block;

   clear: none;
   margin-right: 8%;
   margin-left: 2%;
   width: 40%;
   height: 60vh;
   background-color: rgba(255, 255, 255, 0.80);

   .profile-stats {
     display: block;
     width: 90%;
     height: 90%;
     margin: auto;
     margin-top: 2.5%;

     .profile-header {
       display: block;
       height: auto;
       width: 100%;

       h1 {
         display: inline-block;
         height: auto;
         width: 100%;
         font-size: 1.8vw;
       }

       a {
         display: inline-block;
         float: right;
         clear: none;
       }

       i.fa-pencil {
         font-size: 1.5vw;
         padding-top: 4px;
       }
     }

     li {
       margin: 2rem;
     }

     h3 {
       display: inline;
       font-size: 2vw;
     }

     p {
       display: inline;
       font-size: 2vw;
       padding-left: 1rem;
     }
   }

 }

.content-left {
  display: inline-block;
  float: left;
  clear: none;
  // margin-left: 4.5vw;
  margin-right: 2%;
  margin-left: 8%;
  width: 40%;
  height: 60vh;
  background-color: rgba(255, 255, 255, 0.80);

  .profile-info {
    display: block;
    width: 90%;
    height: 90%;
    margin: auto;
    margin-top: 2.5%;

    .profile-header {
      display: block;
      height: auto;
      width: 100%;

      h1 {
        display: inline-block;
        height: auto;
        width: 75%;
        font-size: 1.8vw;
      }

      a {
        display: inline-block;
        float: right;
        clear: none;
      }

      i.fa-pencil {
        font-size: 1.5vw;
        padding-top: 4px;
      }
    }

    li {
      margin: 2rem;
    }

    h3 {
      display: inline;
      font-size: 2vw;
    }

    p {
      display: inline;
      font-size: 2vw;
      padding-left: 1rem;
    }
  }
}

.delete-button {
  text-align: center;
  margin-top: 20px;
}
