// Place all the styles related to the Teachers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/**
  SHOW.HTML.ERB STYLES
 */
.left-nav {
  display: inline-block;
  float: left;
  clear: none;
  width: 15vw;
  height: 77.5vh;
  margin-left: 4vw;
  background-color: white;
}

.content {
  display: inline-block;
  float: left;
  clear: none;
  margin-left: 4.5vw;
  width: 73vw;
  height: 77.5vh;
  background-color: white;

  .profile-info {
    display: block;
    width: 90%;
    height: 90%;
    margin: auto;
    margin-top: 2.5%;

    h1 {
      display: block;
      height: auto;
      width: 100%;
      font-size: 1.5vw;
    }

    li {
      margin: 2rem;
    }

    h3 {
      display: inline;
      font-size: 1vw;
    }

    p {
      display: inline;
      font-size: 1vw;
      padding-left: 1rem;
    }

    i.fa-pencil {
      position: relative;
      left: 98.5%;
      bottom: 5%;
    }
  }
}